html {
  @apply bg-gray-50;
}
.bg-info-gradient {
  @apply bg-gradient-to-tl from-blue-600 to-cyan-500;
}

.loading-toastification {
  display: inline-block;
  width: 20px !important;
  height: 20px !important;
  border: 3px solid #9facc2 !important;
  border-radius: 50%;
  border-top-color: white !important;
  animation: spin 1s ease-in-out infinite !important;
  -webkit-animation: spin 1s ease-in-out infinite;
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.Vue-Toastification__toast--default.my-toast-default-color {
  --tw-gradient-to: #a8b8d8;
  --tw-gradient-from: #627594;
  --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to);
  background-image: linear-gradient(to top left, var(--tw-gradient-stops));
  color: white;
  width: 40vw;
}
.Vue-Toastification__toast--error.my-toast-error-color {
  --tw-gradient-to: #ff667c;
  --tw-gradient-from: #ea0606;
  --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to);
  background-image: linear-gradient(to top left, var(--tw-gradient-stops));
  color: white;
  width: 40vw;
}
.Vue-Toastification__toast--success.my-toast-success-color {
  --tw-gradient-to: #98ec2d;
  --tw-gradient-from: #17ad37;
  --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to);
  background-image: linear-gradient(to top left, var(--tw-gradient-stops));
  color: white;
  width: 40vw;
}